/.derivedData*/
/.mcpDerivedData*/
/.releaseDerivedData*/
/.deviceDerivedData*/
/.simDerivedData*/
/.testCompileDerivedData*/
/.testDerivedData*/
/.signedDerivedData*/
/.signedTestDerivedData*/
/HexKeyboardTracer.xcodeproj/
